/* CSS Stylesheet */

* {

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;

}
body {

  background: #376c72;
  margin: 0;

}
.container {

  max-width: 800px;
  margin: 20px auto;

}
h1 {

  background: #232323;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 200;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 30px 0;

}
#stripe {

  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 30px;
  background-color: white;

}
ul {

  margin: 0px;
  border: 0px;
  padding: 0px;

}
button {

  background: none;
  border: 0;
  font-size: inherit;
  color: black;
  height: 100%;
  outline: none;
  transition: all 0.6s;

}
button:hover {

  color: white;
  background: #2F3C40;

}
#reset {

  float: left;
  margin: 0 5%;

}
#player1 {
  
  float: left;
  margin: 0 5%;

}
#player2 {

  float: left;
  margin: 0 5%;

}
#message {
  float: left;
  width: 20%;
  display: inline-block;
  color: black;
  font-family: 'Open Sans', sans-serif;
  line-height: 100%;
  padding-top: 7px;
  margin: 0 5%;

}
#gameTimer {

  float: left;
  width: 10%;
  height: 100%;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-top: 4px;
  font-family: 'Open Sans', sans-serif;

}
.selected {

  background: #2F3C40;
  color: white;

}
.gameboard {

  border-radius: 20px;
  box-shadow: 5px 10px 20px;
  /*needs display: flex for flex-wrap to work*/
  display: flex;
  width: 800px;
  height: 800px;
  background: linear-gradient(200deg, #11D9C5 5%, #10485B 100%);
  /*flex-wrap wraps cards around instead of going down in just 1 line of cards*/
  flex-wrap: wrap;

}
.starsTwo {

  margin-top: 5px;
  margin-bottom: 5px;
  color: orange;
  float: right;
  margin-right: 300px;
  font-size: 40px;

}
.starsOne {

  margin-top: 5px;
  margin-bottom: 5px;
  color: orange;
  float: left;
  margin-left: 300px;
  font-size: 40px;

}
.card {

  border-radius: 10px;
  display: flex;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  box-shadow: 5px 2px 20px;
  font-size: 35px;
  /*justify content puts icons in the middle*/
  justify-content: center;
  /*align-items directly centers icons*/
  align-items: center;
  background: #2F3C40;
  transform: rotateY(180deg);

}
.card svg {

  display: none;

}
.flipped {

  display: flex;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  background-color: #374658;
  transform: rotateY(360deg);
  transition: transform 0.4s;


}
.flipped svg {

  display: inline-block;

}
.correct {

  display: flex;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  background-color: #374658;
  color: white;
  font-size: 35px;
  transform: rotateY(360deg);

}
.correct svg{

  display: inline-block;

}
.winAlert {

  margin-top: 0px;
  height: 500px;
  width: 100%;
  margin: 0 auto 20px auto;
  border-bottom: 3px solid white;
  border-left-width: 0px;
  border-right-width: 0px;
  padding: 50px;
  color: white;
  background: linear-gradient(200deg, #11D9C5 5%, #10485B 100%);
  display: none;

}
.winMessage {


  text-align: center;
  padding: 30px 30px 0 30px;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  list-style: none;

}
.winColor {

  background: linear-gradient(200deg, #11D9C5 5%, #10485B 100%);
  transition: 1.5s;

}
.playAgain {


  margin: 10px 45%;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: black;
  background: white;
  width: 100px;
  list-style: none;
  border-radius: 10px;  
  border: 0px;

}
.playAgain:hover {

  color: white;
  background: #2F3C40;

}

