/* CSS Stylesheet */
* {

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;

}
body {

  background: #376c72;
  margin: 0 auto;

}
h1 {

  background: #232323;
  font-family: 'open sans', sans-serif;
  font-size: 50px;
  font-weight: 200;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 30px 0;

}
ul {

  margin: 0px;
  border: 0px;
  padding: 0px;

}
button {

  background: none;
  border: 0;
  font-size: inherit;
  color: black;
  height: 100%;
  outline: none;
  transition: all 0.6s;

}
button:hover {

  color: white;
  background: #2f3c40;

}

/*Classes*/

.container {

  max-width: 800px;
  margin: 20px auto;

}
.gameboard {

  border-radius: 20px;
  box-shadow: 5px 2px 20px;
  /*needs display: flex for flex-wrap to work*/
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(200deg, #11d9c5 5%, #10485b 100%);
  /*flex-wrap wraps cards around instead of going down in just 1 line of cards*/
  flex-wrap: wrap;
}
.selected {

  background: #2f3c40;
  color: white;

}
.starsTwo {

  display: inline-flex;  
  color: #b7cff4;
  float: right;
  font-size: 40px;
  margin: 5px 25% 5px 0;

}
.starsOne {

  display: inline-flex;  
  color: orange;
  float: left;
  font-size: 40px;
  margin: 5px 0 5px 25%;

}
.card {

  border-radius: 10px;
  display: flex;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  box-shadow: 5px 2px 20px;
  font-size: 35px;
  /*justify content puts icons in the middle*/
  justify-content: center;
  /*align-items directly centers icons*/
  align-items: center;
  background: #2f3c40;
  transform: rotateY(180deg);

}
.card svg {
  /*hides card icons*/
  display: none;

}
.flipped {

  display: flex;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  background-color: #374658;
  transform: rotateY(360deg);
  transition: transform 0.4s;

}
.flipped svg {

  display: inline-block;

}
.correct {

  display: flex;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  background-color: #374658;
  color: white;
  font-size: 35px;
  transform: rotateY(360deg);

}
.correct svg{

  display: inline-block;

}
.winAlert {

  margin-top: 0px;
  height: 500px;
  width: 100%;
  margin: 0 auto 20px auto;
  border-bottom: 3px solid white;
  border-left-width: 0px;
  border-right-width: 0px;
  padding: 50px;
  color: white;
  background: linear-gradient(200deg, #11d9c5 5%, #10485b 100%);
  display: none;

}
.winMessage {

  text-align: center;
  padding: 30px 30px 0 30px;
  font-size: 40px;
  font-family: 'open sans', sans-serif;
  font-weight: 800;
  list-style: none;

}
.winColor {

  background: linear-gradient(200deg, #11d9c5 5%, #10485b 100%);
  transition: 1.5s;

}
.playAgain {

  margin: 10px 45%;
  font-size: 30px;
  font-family: 'open sans', sans-serif;
  font-weight: 800;
  color: black;
  background: white;
  width: 100px;
  list-style: none;
  border-radius: 10px;  
  border: 0px;

}
.playAgain:hover {

  color: white;
  background: #2f3c40;

}
/*ID's*/

#stripe {

  width: 100%; 
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 30px;
  background-color: white;

}
#reset {

  float: left;
  margin: 0 20px 0 20px;

}
#player1 {
  
  float: left;
  margin: 0 45px;

}
#player2 {

  float: left;
  margin: 0 45px;

}
.movesBtnOne{

  float: left;
  margin: 0 45px;

}
.movesBtnTwo{

  float: left;
  margin: 0 45px;


}
#message {

  float: left;
  width: 15%;
  display: inline-block;
  color: black;
  font-family: 'open sans', sans-serif;
  line-height: 100%;
  padding-top: 7px;
  margin: 0 40px;

}
#gameTimer {

  float: left;
  width: 5%;
  height: 100%;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-top: 4px;
  font-family: 'open sans', sans-serif;
  margin: 0 20px;
}
@media screen and (max-width: 415px) {
  
  .container {

    max-width: 300px;

  }
  .card {

    border-radius: 10px;
    display: flex;
    height: 2.2em;
    width: 2.2em;
    margin: 10px 10px;
    font-size: 25px;
  }
  h1 {

    font-size: 2em;
  }
}
@media screen and (min-width: 416px) and (max-width: 510px) {

  .container {

    max-width: 550px;

  }
  .card {

    border-radius: 10px;
    display: flex;
    height: 3.3em;
    width: 3.3em;
    margin: 10px 10px;
    font-size: 25px;
  }
  h1 {

    font-size: 2em;
  }
}@media screen and (min-width: 511px) and (max-width: 760px) {

  .container {

    max-width: 550px;

  }
  .card {

    border-radius: 10px;
    display: flex;
    height: 4.2em;
    width: 4.2em;
    margin: 10px 10px;
    font-size: 25px;
  }
  h1 {

    font-size: 2em;
  }
  font-size: 1em;

  }
}
@media screen and (min-width: 761px) and (max-width: 799px) {
  
  .container {
    max-width: 800px;
  }
  .card {

    border-radius: 10px;
    display: flex;
    height: 4.0em;
    width: 4.0em;
    margin: 25px 25px;
    box-shadow: 5px 2px 20px;
    font-size: 35px;
  }
}
@media screen and (min-width: 1px) and (max-width: 530px) {
  .starsTwo {

    font-size: 1em;

  }
  .starsOne {

    font-size: 1em;
}
