/* CSS Stylesheet */

* {

box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;

}

body {

  background: #376c72;
  margin: 0;

}

.container {

  max-width: 800px;
  margin: 20px auto;

}
h1 {
  background: #232323;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 200;
  color: white;
  text-align: center;
  margin: 0px;
}
#stripe {

  text-align: center;
  margin-bottom: 5px;
  height: 30px;
  background-color: #232323;


}
button {

  background: none;
  font-size: inherit;
  color: white;
  height: 100%;
  outline: none;
  border: 0;

}
#message {

  width: 20%;
  display: inline-block;

}
.players {

  font-size: inherit;
  color: white;
  height: 100%;

}

.selected {

  background: #376c72;


}
.gameboard {

  border-radius: 20px;
  box-shadow: 5px 10px 20px;
  /*needs display: flex for flex-wrap to work*/
  display: flex;
  width: 800px;
  height: 800px;
  background: linear-gradient(200deg, #11D9C5 5%, #10485B 100%);
  /*flex-wrap wraps cards around instead of going down in just 1 line of cards*/
  flex-wrap: wrap;
}
.card {

  border-radius: 10px;
  display: flex;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  box-shadow: 5px 2px 20px;
  font-size: 20px;
  /*justify content puts icons in the middle*/
  justify-content: center;
  /*align-items directly centers icons*/
  align-items: center;
  background: #2F3C40;
  transform: rotateY(180deg);

}
.flipped {

  display: flex;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  background-color: #374658;
  font-size: 35px;
  transform: rotateY(360deg);

}
.correct {

  display: flex;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  background-color: #374658;
  font-size: 35px;
  transform: rotateY(360deg);

}
ul {

  margin: 0px;
  border: 0px;
  padding: 0px;

}